/node_modules
/public/hot
/public/storage
/public/temp_uploads/*
/storage/*.key
/vendor
/resources/cms-design
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/resources/cms-design
*.DS_Store
composer.lock